@charset "UTF-8";

.left-bar{
    width:230px;
    height:1070px;
    background-color:rgb(39, 41, 41);
    color:white;
    float:left;
    text-align: center;
    font-size:small;
    
}
.head{
    height:30px;
    width:1680px;
    background-color:rgb(219, 212, 212);
    border-bottom:2px solid black; 
    border-top:2px solid black;
    border-right:2px solid black;
}
body{
    background-color: rgb(189, 189, 189);
}
.profile img{
    width:180px;
    height:150px;
}

.profile-pho{
    height:165px;
}
.profile-info{
    width:180px;
    height:160px;
    color:white;
    margin-left:20px;
    
    text-align:left;
    font-style:initial;
    font-size:12px;
    border-bottom:1px solid white;
    border-top:1px solid white;
}
.menu{
    margin-top:60px;
}

.menu ul {
    list-style:none;
    padding:0
    
}
.menu li {
    height: 60px;
    text-align: left;
    padding-left:15px;
    
}
.menu li a{
    font-weight:300;
    text-decoration: none;
    color:white;
    text-align: center;
    padding:5px;
}

.menu li a.active,.menu li a:hover{
    background-color:rgb(39, 41, 41);
    border-left:8px solid #13895F;
}

#welcome{
  padding:40px;   
}
.Login a{
    text-decoration:none;
    color:black;    
}
.Login {
    float:right;
    padding-right: 20px;
}
.Login a:hover{
    color:orange;
}
.front{
    margin:5 0 5 0;
}
.gall{
    border:3px solid black;
    width:1180px;
    height:500px;
    margin-left:300px;
    margin-top:40px;
    border-radius: 10px;
    background-color: rgb(182, 177, 168);
}
#borde-title{      
    padding-left: 20px;
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

#borde-title a{
    text-decoration: none;
    color:black;
}

#borde-title a:hover{
    text-decoration: underline;
    color:rgb(119, 106, 236);
}
.gall-ph{
    border-spacing: 10px;
    border:0px;
   
}
.gall-ph th{
    padding:15px;
    border:1px solid rgb(82, 76, 76);
}

.notice{
    border:3px solid black;
    width:1180px;
    height:200px;
    margin-left:300px;
    margin-top:40px;
    border-radius: 10px;
    background-color: rgb(182, 177, 168);
}

.list-ul ul {
    list-style:none;
    padding:0
    
}
.list-ul li {
    height: 40px;
    text-align: left;
    padding-left:15px;
}
.list-ul li a{
    font-weight:300;
    text-decoration: none;
    color:black;
    text-align: center;
    padding:5px;
}
.list-ul a:hover{
    text-decoration:underline;
}

.help{
    border:3px solid black;
    float:left;
    width:350px;
    height:200px;
    margin-left:70px;
    margin-top:40px;
    border-radius: 10px;
    background-color: rgb(182, 177, 168);
}

.thk{
    border:3px solid black;
    float:left;
    width:350px;
    height:200px;
    margin-left:60px;
    margin-top:40px;
    border-radius: 10px;
    background-color: rgb(182, 177, 168);
}

.suh{
    border:3px solid black;
    float:left;
    width:350px;
    height:200px;
    margin-left:60px;
    margin-top:40px;
    border-radius: 10px;
    background-color: rgb(182, 177, 168);
}