<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  sql문을 작성한 mapper와 namespace로 등록한 인터페이스를 연동한다는 의미이다. -->
<mapper namespace="com.ion.mapper.BlogMapper">

	<!-- id는 호출을 하기 위한 이름  -->
	<!-- resultType은 결과값을 받을 타입을 지정한 것 알리아스를 이용해도 되나 일단 패키지명+vo명까지 다 적음 (회의때 알리아스 설정)  -->
	
	<select id="listcount" resultType="int">
		select count(*) from BLOG_NOTICE
	</select>
	
	<select id="view_blog_notice" resultType="com.ion.vo.BlogVO" >
		SELECT * FROM BLOG_NOTICE ORDER BY NOTICE_DATE	 DESC
	</select>	
	
	<select id="view_notice_list" resultType="com.ion.vo.BlogVO">
		select * from
			(select ROWNUM RNUM, notice_no, notice_title, notice_content, notice_date, notice_center , notice_writer
			from (select * from BLOG_NOTICE WHERE notice_writer = #{notice_writer} order by notice_date desc))
		where RNUM &gt;=#{startrow} and RNUM &lt;=#{endrow}
	</select>
	
	<select id="view_notice_cont" resultType="com.ion.vo.BlogVO"  parameterType="int">
		SELECT * FROM BLOG_NOTICE WHERE notice_no = #{notice_no}
	</select>
	<!-- 조회수 증가 시키기 -->
	<update id="viewup">
		update BLOG_NOTICE set notice_view = notice_view + 1 where notice_no=#{notice_no}
	</update>
	
	<insert id="insert_blog_notice" parameterType="com.ion.vo.BlogVO">
		INSERT INTO BLOG_NOTICE (
		notice_no		
		, notice_title
		, notice_date
		, notice_writer
		, notice_view
		, notice_content
		, notice_email
		, notice_password
		, notice_center
		
		) VALUES (
		
		blog_notice_seq.nextval		
		, #{notice_title}
		, sysdate
		, #{notice_writer}
		, #{notice_view}
		, #{notice_content}
		, #{notice_email}
		, #{notice_password}
		, #{notice_center}
	
		
		)
	</insert>
	
    	<insert id="insertCal" parameterType="com.ion.vo.CalVO">
		INSERT INTO CALENDAR (
		title 
		, start_date
		, end_date		
		) VALUES (		
		#{title}
		,#{start}
		,#{end}		
		)
	</insert>
	
	<update id="editNotice" parameterType="com.ion.vo.BlogVO">
		 UPDATE BLOG_NOTICE
		 SET notice_title =  #{notice_title}
		 , notice_content = #{notice_content}			
		 WHERE notice_no = #{notice_no}
	</update>
	 
	<delete id="deleteNotice" parameterType="int">
		delete 
		from BLOG_NOTICE
		where notice_no=#{notice_no}
	</delete>
</mapper>
	