<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ion.mapper.LoginMapper">
	<!-- id중복체크 -->
	<select id="idCheck" resultType="com.ion.vo.LoginVO">
		select * from center_user where center_id = #{center_id}
	</select>
	 
	<!-- 센터 이름 찾기 -->
	<select id="center_find" resultType="com.ion.vo.LoginVO">
		select * from 
		(select rownum rnum
			, center_name
			, center_add
			, center_tel
		from center_location cl
		where
			1=1
			and cl.center_name not in (
			select cu.center_name from center_user cu
			)
			<if test="center_name != null">
				and center_name like '%'||#{center_name}||'%'
			</if>
		) where rnum &gt;=#{startrow} and rnum &lt;=#{endrow}
		
	</select>
	
	<select id="totalCenterCount" parameterType="int">
		select 
		count(center_name)
		from center_location
		where
			<if test="center_name != null">
				and center_name like '%'||#{center_name}||'%'
			</if>
	</select>
	
	<!-- 센터 회원 추가 -->
	<insert id="insertCenterUser">
		Insert into center_user
		(center_id
		, password
		, last_pass_change_dt
		, info_agrement_yn
		, info_agrement_dt
		, registration_dt
		, id_lock
		, center_tel
		, center_email
		, center_add
		, center_name
		, center_user_name
		, center_domain
		) values (
		 #{center_id}
		 , #{password}
		 , sysdate
		 , 'Y'
		 , sysdate
		 , sysdate
		 , 'UNLOCK'
		 , #{center_tel}
		 , #{center_email}
		 , #{center_add}
		 , #{center_name}
		 , #{center_user_name}
		 , #{center_id}	
		)
	</insert>
	
</mapper>