<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  sql문을 작성한 mapper와 namespace로 등록한 인터페이스를 연동한다는 의미이다. -->
<mapper namespace="com.ion.mapper.MainMapper">

	<!-- id는 호출을 하기 위한 이름  -->
	<!-- resultType은 결과값을 받을 타입을 지정한 것 알리아스를 이용해도 되나 일단 패키지명+vo명까지 다 적음 (회의때 알리아스 설정)  -->
	
	<select id="view_system_notice" resultType="com.ion.vo.MainVO">
		SELECT * FROM SYSTEM_NOTICE ORDER BY INSERT_DT DESC
	</select>
	<!--  센터 공지사항 -->
	<select id="view_blog_notice" resultType="com.ion.vo.MainVO">
		SELECT * FROM BLOG_NOTICE ORDER BY NOTICE_NO DESC
	</select>	
	<!--  센터 필요해요 목록 -->
	<select id="view_blog_help" resultType="com.ion.vo.MainVO">
		SELECT * FROM BLOG_HELP ORDER BY HP_NO DESC
	</select>	
	
	<select id="getCenterList" resultType="com.ion.vo.MainVO" parameterType="com.ion.vo.MainVO">
	  select * from 
     (select rowNum rNum, center_name, center_add, center_tel     
     from (select * from center_location     
     <where>
     <if test="find_field == ''">
      <!-- 검색조건이 없어서 총레코드 개수 -->
     </if>
     <if test="find_field == 'center_name'">
      <!-- 검색 조건이 제목인 경우 -->
      center_name like #{find_name} <!-- like는 오라클 검색
      연산자 -->
     </if>
     <if test="find_field == 'center_add'">
      center_add like #{find_name}
     </if>
     </where>     
      )) 
     where rNum &gt;= #{startrow} and rNum &lt;= #{endrow}
<!-- &gt;은 ~보다 크다(>), &lt;은 ~보다 작다(<) -->
	</select>
	
	<!-- 검색 전후 레코드 개수 -->
    <select id="getListCount" parameterType="com.ion.vo.MainVO" resultType="int">
     select count(center_name) from center_location
     <where>
     <if test="find_field == ''">
      <!-- 검색조건이 없어서 총레코드 개수 -->
     </if>
     <if test="find_field == 'center_name'">
      <!-- 검색 조건이 제목인 경우 -->
      center_name like #{find_name} <!-- like는 오라클 검색
      연산자 -->
     </if>
     <if test="find_field == 'center_add'">
      center_add like #{find_name}
     </if>
     </where>
    </select>


</mapper>