<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ion.mapper.MyPageMapper">
		
	<select id="totalNoticeCount" resultType="int">
		select count(*) from SYSTEM_NOTICE
	</select>

	<select id="view_notice_list" resultType="com.ion.vo.MyPageVO">
		select * from
			(select ROWNUM RNUM, system_notice_no, insert_id, title, content, insert_dt
			from (select * from SYSTEM_NOTICE order by insert_dt desc))
		where RNUM &gt;=#{startrow} and RNUM &lt;=#{endrow}
	</select>
	
	<select id="view_notice_cont" resultType="com.ion.vo.MyPageVO" parameterType="int">
		SELECT * FROM SYSTEM_NOTICE WHERE system_notice_no = #{system_notice_no}
	</select>

	<insert id="insertNotice" parameterType="com.ion.vo.MyPageVO">
		INSERT INTO SYSTEM_NOTICE (
		system_notice_no
		, title 
		, content
		, insert_dt
		, insert_id
		, last_change_dt
		, last_change_id
		) VALUES (
		system_notice_seq.nextval
		, #{title}
		, #{content}
		, sysdate
		, #{insert_id}
		, sysdate
		, #{last_change_id}
		)
	</insert>
	 
	<update id="modNotice" parameterType="com.ion.vo.MyPageVO">
		 UPDATE SYSTEM_NOTICE
		 SET  title =  #{title}
		 , content = #{content}
		 , last_change_dt = sysdate
		 , last_change_id = #{last_change_id}
		 WHERE system_notice_no = #{system_notice_no}
	</update>
	 
	<delete id="deleteNotice" parameterType="int">
		delete 
		from SYSTEM_NOTICE
		where system_notice_no=#{system_notice_no}
	</delete>
	
	<select id="get_hp" resultType="com.ion.vo.MyPageVO">
		select * from
		(select ROWNUM RN, C.* FROM
		(select * from BLOG_HELP A LEFT OUTER JOIN BLOG_HELP_RS B ON A.HP_NO=B.HP_NO where B.HP_USER_ID=#{hp_user_id} and HP_REFLECT='Y' order by A.HP_ENDATE desc)C)
		where RN BETWEEN #{startrow} AND #{endrow}
	</select>
	
	<!-- 레코드 수 -->
	<select id="hp_total" resultType="int">
		select count(hp_no) from BLOG_HELP_RS where HP_USER_ID=#{hp_user_id} and HP_REFLECT='Y'
	</select>
</mapper>